html{ font-size:62.5%; font-family:Tahoma }
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, input, button, textarea, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video{ margin:0; padding:0 }
body{ line-height:1.333; font-size:12px }
h1, h2, h3, h4, h5, h6{ font-size:100% }
input, textarea, select, button{ font-size:12px; font-weight:normal; font-family:inherit }
input[type="button"], input[type="submit"], select, button{ cursor:pointer }
table{ border-collapse:collapse; border-spacing:0 }
address, caption, cite, code, dfn, em, th, var{ font-style:normal; font-weight:normal }
li{ list-style:none }
caption, th{ text-align:left }
q:before, q:after{ content:'' }
abbr, acronym{ border:0; font-variant:normal }
sup{ vertical-align:text-top }
sub{ vertical-align:text-bottom }
fieldset, img, a img, iframe{ border-width:0; border-style:none }
iframe{ overflow:hidden }
img{ -ms-interpolation-mode:bicubic }
textarea{ resize:vertical; overflow-y:auto }
legend{ color:#000 }
hr{ height:0 }
label{ cursor:pointer }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section{ display:block }
body{ background-color:#000; color:#ddd; font-size:14px; font-family:tahoma, 'Microsoft Yahei'; }
a{text-decoration:none;color:#7cc3ff; -webkit-transition:color 500ms ease-in; -moz-transition:color 500ms ease-in; transition:color 500ms ease-in; }
a:hover{ color:#fff; text-decoration:none; }
h1{ font-size:60px; padding:10px 0; font-family:GEORGIA, 'Microsoft Yahei'; text-align:right; font-weight:normal; font-style:italic; color:#222; }
p{ margin-bottom:10px; }

/* logo */
.logo {
    padding-top: 20px;
    text-align: left;
}
.logo a,.logo img {
  display:inline-block;
  width:180px;
  height:180px;
  overflow:hidden;
  border-radius:180px
}
.logo img {
  -webkit-animation-name:Rotate;
  -moz-animation-name:Rotate;
  -o-animation-name:Rotate;
  animation-name:Rotate;
  -webkit-animation-duration:4.5s;
  -moz-animation-duration:4.5s;
  -o-animation-duration:4.5s;
  animation-duration:4.5s;
  -webkit-transition-timing-function:linear;
  -moz-transition-timing-function:linear;
  -o-transition-timing-function:linear;
  transition-timing-function:linear;
  -webkit-animation-delay:3s;
  -moz-animation-delay:3s;
  -o-animation-delay:3s;
  animation-delay:3s;
  -webkit-animation-iteration-count:infinite;
  -moz-animation-iteration-count:infinite;
  -o-animation-iteration-count:infinite;
  animation-iteration-count:infinite;
  -webkit-animation-direction:alternate;
  -moz-animation-direction:alternate;
  -o-animation-direction:alternate;
  animation-direction:alternate
}

@media screen and (max-device-width: 320px){
  .copyright i{
    display:none
  }

}

@-moz-keyframes Rotate{
  from{
    -moz-transform:rotate(0deg);
    transform:rotate(0deg)
  }

  to{
    -moz-transform:rotate(360deg);
    transform:rotate(360deg)
  }

}

@-webkit-keyframes Rotate{
  from{
    -webkit-transform:rotate(0deg);
    transform:rotate(0deg)
  }

  to{
    -webkit-transform:rotate(360deg);
    transform:rotate(360deg)
  }

}

@-o-keyframes Rotate{
  from{
    -o-transform:rotate(0deg);
    transform:rotate(0deg)
  }

  to{
    -o-transform:rotate(360deg);
    transform:rotate(360deg)
  }

}

@keyframes Rotate{
  from{
    transform:rotate(0deg)
  }

  to{
    transform:rotate(360deg)
  }

}
/* new 05/28/2013 */
.ui-text-hidden{ position:absolute !important; clip:rect(1px 1px 1px 1px); clip:rect(1px, 1px, 1px, 1px); padding:0 !important; border:0 !important; height:1px !important; line-height:0 !important; width:1px !important; overflow:hidden; }
.ui-table{ margin-bottom:30px; }
.ui-table th{ padding:10px; border-right:1px solid #333; text-align:right; vertical-align:top; }
.ui-table td{ padding:10px; position:relative; }
.ui-table input{ opacity:.8; padding:10px; border:none; width:200px; -webkit-transition:box-shadow 500ms ease-in; -moz-transition:box-shadow 500ms ease-in; transition:box-shadow 500ms ease-in }
.ui-table input:focus,
#domain:focus:invalid{ -webkit-transform:scale(1.1); -moz-transform:scale(1.1);transform:scale(1.1); opacity:1; background-color:#d4ffd8; box-shadow:0 0 25px rgba(255, 255, 255, .8); outline:none; }
.ui-table input:focus:invalid{  -webkit-transform:scale(1.1); -moz-transform:scale(1.1);transform:scale(1.1); opacity:1; background-color:#ffd4ed }
.ui-button{ text-decoration:none; -webkit-user-select:none; background-color:#D14836; background-image:-webkit-linear-gradient(top, #DD4B39, #D14836); border:1px solid transparent; color:white; display:inline-block; font-family:arial, sans-serif; font-size:14px; letter-spacing:3px; height:27px; line-height:27px; min-width:97px; outline-color:white; outline-style:none; outline-width:0px; padding:0 8px; text-align:center; text-shadow:rgba(0, 0, 0, 0.1) 0px 1px 0px; text-transform:uppercase; width:97px; box-shadow:none; text-decoration:none; -webkit-transition:box-shadow 200ms ease-in; -moz-transition:box-shadow 200ms ease-in; transition:box-shadow 200ms ease-in; }
.ui-button:hover, .ui-button:focus{ box-shadow:0 0 15px rgba(255, 255, 255, .6);}
.ui-button:active{box-shadow:0 0 20px rgba(255, 255, 255, 1);}
.ui-tips{position:absolute;background-color: rgba(255, 255, 255, .3);color: #000;padding: 3px 5px;text-shadow: 0 1px 0 #666;}
.ui-tips .arr{position: absolute;border-width: 5px;border-style: dashed;border-color: rgba(255, 255, 255, .3) transparent transparent transparent;bottom: -10px;left: 50%;margin-left: -5px;}
#tips-add-home{left: 108px;top: 330px;display:none;}
.lay-page-width{ width:1000px; margin:0 auto; position:relative; }
.lay-footer{ text-align:right; color:#333; padding:20px 0; font-size:12px; }
.lay-header {background-color: #000;height: 50px;border-bottom: 3px solid #b2000c;position: fixed;right: 0;left: 0;z-index: 1030;margin-bottom: 0;}
.lay-page {top: 42px;position: absolute;right: 0;left: 0;margin-bottom: 0;}
.lay-header .logo{ position:absolute; left:50px; top: -51px; background-image:url("/images/logo.png"); width:62px; height: 80px; z-index:1; }
.lay-header .nav{ position:absolute; right:0; top:17px; }
.lay-header .nav a, .lay-header .nav a span{ display:inline-block; background-image:url("/images/menu.png"); height:28px; width:50px; opacity:1; }
.lay-header .nav a span{ -webkit-transition:opacity 500ms ease-in; -moz-transition:opacity 500ms ease-in; }
.lay-header .nav a span:hover{ opacity:0; }
.lay-header .nav .a span{ background-position: -1px -1px; }
.lay-header .nav .a, .page-a .lay-header .nav .a span{ background-position: -1px -28px; }
.lay-header .nav .thing span{ background-position: -62px -1px; }
.lay-header .nav .thing, .page-thing .lay-header .nav .thing span{ background-position:-62px -28px; }
.lay-header .nav .life span{ background-position: -122px -1px; }
.lay-header .nav .life, .page-life .lay-header .nav .life span{ background-position: -122px -28px; }
.lay-header .nav .hi span{ background-position: -183px -28px; }
.lay-header .nav .hi, .page-hi .lay-header .nav .hi span{ background-position: -183px -28px; }
.lay-header .nav .faq span{ background-position: -244px -1px; }
.lay-header .nav .faq, .page-faq .lay-header .nav .faq span{ background-position: -244px -28px; }
.page-home .banner{ background:url("/images/beijing.png") no-repeat; height:481px; position:relative; }
.page-home .banner .ui-button{ position:absolute; left:66px; top:260px; }
#status-ajax{ display:none; padding:10px 0; }
#btn-join-submit{display:none;}
.page-renew dt{font-weight:bold;font-size:20px;margin-bottom:15px;}
.page-renew li{margin-right:20px;float:left;}
.page-renew .ui-button{clear:both;}