	<div class="lay-page-width">
        <h1>规划(Planning)</h1>
	<div class="item"> 
	<p class="name">高考 <span>6月</span></p>
	<img src="http://pic.yupoo.com/hqzxs/CTZGfkvY/flSWR.png" width="915">
	<p class="txt"> <br>
	一切都会顺利。<br>打第二行字的时候已经觉得给你压力了。抱歉。加油。 <br><br>
	<a href="http://xiaocezi.ncbuct.com.cn/" target="_blank">高考攻略小册子</a></p>
</div>
<div class="spacer">
  &nbsp;
</div>
<hr class="line">
	<div class="item"> 
	<p class="name">西藏 <span>7月</span></p>
	<img src="http://pic.yupoo.com/hqzxs/CTZFe9Dp/medium.jpg" width="915" height="253">
	<p class="txt"> <br>
	也就算一个约好的时间<br>突然有点想你了 <br><br>
	<a href="http://d.lvyou.baidu.com/guide/787/%E7%99%BE%E5%BA%A6%E6%97%85%E6%B8%B8-%E8%A5%BF%E8%97%8F%E6%94%BB%E7%95%A5.pdf" target="_blank">西藏·攻略</a></p>
</div>
<div class="spacer">
  &nbsp;
</div>
<hr class="line">
<div class="page"><a href="/hi" class="ui-button">这儿</a></div>
        
            </div>
    

