<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="/css/style4.css">
        <meta http-equiv="Page-Exit"; content="blendTrans(Duration=1.0)">
        <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script type="text/javascript">window.jQuery || document.write('<script type="text/javascript" src="/js/jquery.min.js"><\/script>')</script>
        <script type="text/javascript">
//页面淡入淡出
if(!+[1,]);else
$(document).ready(function() {
$('.lay-page').hide().fadeIn(1000);
});
</script>
    </head>

    <body class="page-home">
      <section class="lay-container">
        <header class="lay-header">
          <div class="lay-page-width">
            <h1><a href="/" class="logo"><b class="ui-text-hidden"> say </b></a></h1>
            <nav class="nav">
                <a class="a" href="/"><span><b class="ui-text-hidden">想说</b></span></a>
                <a class="thing" href="/thing"><span><b class="ui-text-hidden">事情</b></span></a>
                <a class="life" href="/life" ><span><b class="ui-text-hidden">规划</b></span></a>
                <a class="hi" href="/hi"><span><b class="ui-text-hidden">祝福</b></span></a>
                <a class="faq" href="/faq"><span><b class="ui-text-hidden">关于</b></span></a>
            </nav>
        </div>
        </header>
      </section>
      <article role="main" class="lay-page">
       {% include faq.html %}
       <footer id="footer" class="lay-footer">
    <div class="lay-page-width">©2013 <a href="http://coderuby.info">Jiayi Zhao</a>. | All rights reserved.</a></div>
</footer></article>
    </body>

</html>

